<section class="splash_container">
  <h1><span>Pay</span><span>Mark</span></h1>
  <div class="splash_links">
    <%= link_to 'LOG IN', new_user_session_path, class: "splash-login" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "splash-signup" %>  
  </div>
</section>